<Type Name="Server" FullName="Azure.ResourceManager.Sql.Models.Server">
  <TypeSignature Language="C#" Value="public class Server : Azure.ResourceManager.Sql.Models.TrackedResource" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Server extends Azure.ResourceManager.Sql.Models.TrackedResource" />
  <TypeSignature Language="DocId" Value="T:Azure.ResourceManager.Sql.Models.Server" />
  <TypeSignature Language="VB.NET" Value="Public Class Server&#xA;Inherits TrackedResource" />
  <TypeSignature Language="F#" Value="type Server = class&#xA;    inherit TrackedResource" />
  <AssemblyInfo>
    <AssemblyName>Azure.ResourceManager.Sql</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>Azure.ResourceManager.Sql.Models.TrackedResource</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary> An Azure SQL Database server. </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Server (string location);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(string location) cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.Sql.Models.Server.#ctor(System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (location As String)" />
      <MemberSignature Language="F#" Value="new Azure.ResourceManager.Sql.Models.Server : string -&gt; Azure.ResourceManager.Sql.Models.Server" Usage="new Azure.ResourceManager.Sql.Models.Server location" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.Sql</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="location" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="location"> Resource location. </param>
        <summary> Initializes a new instance of Server. </summary>
        <remarks>To be added.</remarks>
        <exception cref="T:System.ArgumentNullException">
          <paramref name="location" /> is null. </exception>
      </Docs>
    </Member>
    <Member MemberName="AdministratorLogin">
      <MemberSignature Language="C#" Value="public string AdministratorLogin { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string AdministratorLogin" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.Sql.Models.Server.AdministratorLogin" />
      <MemberSignature Language="VB.NET" Value="Public Property AdministratorLogin As String" />
      <MemberSignature Language="F#" Value="member this.AdministratorLogin : string with get, set" Usage="Azure.ResourceManager.Sql.Models.Server.AdministratorLogin" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.Sql</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary> Administrator username for the server. Once created it cannot be changed. </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AdministratorLoginPassword">
      <MemberSignature Language="C#" Value="public string AdministratorLoginPassword { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string AdministratorLoginPassword" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.Sql.Models.Server.AdministratorLoginPassword" />
      <MemberSignature Language="VB.NET" Value="Public Property AdministratorLoginPassword As String" />
      <MemberSignature Language="F#" Value="member this.AdministratorLoginPassword : string with get, set" Usage="Azure.ResourceManager.Sql.Models.Server.AdministratorLoginPassword" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.Sql</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary> The administrator login password (required for server creation). </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="FullyQualifiedDomainName">
      <MemberSignature Language="C#" Value="public string FullyQualifiedDomainName { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string FullyQualifiedDomainName" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.Sql.Models.Server.FullyQualifiedDomainName" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property FullyQualifiedDomainName As String" />
      <MemberSignature Language="F#" Value="member this.FullyQualifiedDomainName : string" Usage="Azure.ResourceManager.Sql.Models.Server.FullyQualifiedDomainName" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.Sql</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary> The fully qualified domain name of the server. </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Identity">
      <MemberSignature Language="C#" Value="public Azure.ResourceManager.Sql.Models.ResourceIdentity Identity { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Azure.ResourceManager.Sql.Models.ResourceIdentity Identity" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.Sql.Models.Server.Identity" />
      <MemberSignature Language="VB.NET" Value="Public Property Identity As ResourceIdentity" />
      <MemberSignature Language="F#" Value="member this.Identity : Azure.ResourceManager.Sql.Models.ResourceIdentity with get, set" Usage="Azure.ResourceManager.Sql.Models.Server.Identity" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.Sql</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Azure.ResourceManager.Sql.Models.ResourceIdentity</ReturnType>
      </ReturnValue>
      <Docs>
        <summary> The Azure Active Directory identity of the server. </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Kind">
      <MemberSignature Language="C#" Value="public string Kind { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Kind" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.Sql.Models.Server.Kind" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property Kind As String" />
      <MemberSignature Language="F#" Value="member this.Kind : string" Usage="Azure.ResourceManager.Sql.Models.Server.Kind" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.Sql</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary> Kind of sql server. This is metadata used for the Azure portal experience. </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MinimalTlsVersion">
      <MemberSignature Language="C#" Value="public string MinimalTlsVersion { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string MinimalTlsVersion" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.Sql.Models.Server.MinimalTlsVersion" />
      <MemberSignature Language="VB.NET" Value="Public Property MinimalTlsVersion As String" />
      <MemberSignature Language="F#" Value="member this.MinimalTlsVersion : string with get, set" Usage="Azure.ResourceManager.Sql.Models.Server.MinimalTlsVersion" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.Sql</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary> Minimal TLS version. Allowed values: '1.0', '1.1', '1.2'. </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="PrivateEndpointConnections">
      <MemberSignature Language="C#" Value="public System.Collections.Generic.IReadOnlyList&lt;Azure.ResourceManager.Sql.Models.ServerPrivateEndpointConnection&gt; PrivateEndpointConnections { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class System.Collections.Generic.IReadOnlyList`1&lt;class Azure.ResourceManager.Sql.Models.ServerPrivateEndpointConnection&gt; PrivateEndpointConnections" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.Sql.Models.Server.PrivateEndpointConnections" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property PrivateEndpointConnections As IReadOnlyList(Of ServerPrivateEndpointConnection)" />
      <MemberSignature Language="F#" Value="member this.PrivateEndpointConnections : System.Collections.Generic.IReadOnlyList&lt;Azure.ResourceManager.Sql.Models.ServerPrivateEndpointConnection&gt;" Usage="Azure.ResourceManager.Sql.Models.Server.PrivateEndpointConnections" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.Sql</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.IReadOnlyList&lt;Azure.ResourceManager.Sql.Models.ServerPrivateEndpointConnection&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary> List of private endpoint connections on a server. </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="PublicNetworkAccess">
      <MemberSignature Language="C#" Value="public Azure.ResourceManager.Sql.Models.ServerPublicNetworkAccess? PublicNetworkAccess { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;valuetype Azure.ResourceManager.Sql.Models.ServerPublicNetworkAccess&gt; PublicNetworkAccess" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.Sql.Models.Server.PublicNetworkAccess" />
      <MemberSignature Language="VB.NET" Value="Public Property PublicNetworkAccess As Nullable(Of ServerPublicNetworkAccess)" />
      <MemberSignature Language="F#" Value="member this.PublicNetworkAccess : Nullable&lt;Azure.ResourceManager.Sql.Models.ServerPublicNetworkAccess&gt; with get, set" Usage="Azure.ResourceManager.Sql.Models.Server.PublicNetworkAccess" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.Sql</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;Azure.ResourceManager.Sql.Models.ServerPublicNetworkAccess&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary> Whether or not public endpoint access is allowed for this server.  Value is optional but if passed in, must be 'Enabled' or 'Disabled'. </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="State">
      <MemberSignature Language="C#" Value="public string State { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string State" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.Sql.Models.Server.State" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property State As String" />
      <MemberSignature Language="F#" Value="member this.State : string" Usage="Azure.ResourceManager.Sql.Models.Server.State" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.Sql</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary> The state of the server. </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Version">
      <MemberSignature Language="C#" Value="public string Version { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Version" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.Sql.Models.Server.Version" />
      <MemberSignature Language="VB.NET" Value="Public Property Version As String" />
      <MemberSignature Language="F#" Value="member this.Version : string with get, set" Usage="Azure.ResourceManager.Sql.Models.Server.Version" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.Sql</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary> The version of the server. </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
